<p id="notice"><%= notice %></p>

<p>
  <strong>Profilname:</strong>
  <%= @profil.profilname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profil.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profil.bio %>
</p>

<p>
  <strong>Profiltyp:</strong>
  <%= @profil.profiltyp %>
</p>

<p>
  <strong>Land:</strong>
  <%= @profil.land %>
</p>

<p>
  <strong>Ort:</strong>
  <%= @profil.ort %>
</p>

<p>
  <strong>Sprache:</strong>
  <%= @profil.sprache %>
</p>

<p>
  <strong>Alter:</strong>
  <%= @profil.alter %>
</p>

<p>
  <strong>Vorname:</strong>
  <%= @profil.vorname %>
</p>

<p>
  <strong>Nachname:</strong>
  <%= @profil.nachname %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profil.birthday %>
</p>

<%= link_to 'Edit', edit_profil_path(@profil) %> |
<%= link_to 'Back', profils_path %>
